<% sidebar_items << capture { %>
  <div class="panel actions-box collection-settings">
    <%=render :partial=>"#{view_path_from_model(@fobj)}/status_box" %>
    <%=render :partial=>"#{view_path_from_model(@fobj)}/actions_box_show" %>
  </div>
<% } %>

<div class="row">
  <div class="col-sm-9">
    <%= render_contextual_navigation(@fobj) %>
  </div>
</div>
