<% @page_title = "#{@fobj.title} - #{application_name}" %>

<% if @fobj.is_item? || @fobj.is_collection? # Don't show for APOs. %>
  <%= render :partial => 'sidebar_and_nav' %>
<% end %>

<div id="object-content-wrapper">
  <%= render :partial => 'datastreams' %>
</div>
