## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo

# config files
config/suri.yml
config/database.yml
config/fedora.yml
config/solr.yml
config/ur_apo_druid.yml
config/workflow.yml
config/ssl_certs.yml
config/certs/*

## coverage
coverage.data
coverage/*

## PROJECT::GENERAL
rdoc
public/uploads
doc
pkg
/.bundle
db/schema.rb
db/*.sqlite3
*.sqlite3
log/*
*.log
tmp
nohup.out
*~
tags

public/plugin_assets
public/plugin_assets/

.project
.buildpath

## PROJECT::SPECIFIC
