## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo

# SSL client certificates
config/certs/*

## coverage
coverage.data
coverage/*

## PROJECT::GENERAL
rdoc
public/uploads
uploads
/public/assets
doc
pkg
/.bundle
db/schema.rb

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
*.log
workflow_service.log.*

tags

public/plugin_assets
public/plugin_assets/

.project
.buildpath

.rvmrc
deploy/.rvmrc

## PROJECT::SPECIFIC

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

spec/examples.txt
script/test/

# The docker volume for the workflow database
postgres-data
