<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
  </head>
  <body>
    <p>
			<%= @fobj.item_depositor_id %> has deposited an item in the <%= in_quotes(@fobj.collection.title) %> collection.
    </p>
    <p>
      To view the item, follow this link:
      <%= link_to(@item_url,@item_url) %>.
    </p>
    <p>
      If you have any questions about the SDR, send a message to
      <%= sdr_mail_to() %>.
    </p>
  </body>
</html>
