<% unless is_production? %>
	<a rel="tooltip" data-placement='bottom' title="This website is in development and any data added will be deleted."><span class="label label-important">Beta Site</span></a> |
	<%= render(:partial => 'shared/beta_dialog')  unless seen_beta_dialog?%>  
<% end %>
<%- if current_user -%>
  Welcome <%= current_user.to_s.gsub(/@.*$/, "") %>! | <%= link_to("Sign out", destroy_user_session_path) %>
<%- else -%>
  <%= link_to("Sign in", new_user_session_path) %>
<%- end -%>

