<div>
  <dl class="defList">
    <dt>Title: </dt>
    <dd><%= render_document_show_field_value(:document=>document, :field=>"title_display") %></dd>
    <dt>Abstract: </dt>
    <dd><%= render_document_show_field_value(:document=>document, :field=>"abstract_display") %></dd>
  </dl>
</div>
