
<table class="hydrus-striped-table table-striped table-condensed">
	<% unless params[:display_type] == 'list' %>
  <thead>
    <tr>
      <th class="title">Object ID</th>
      <th class="journal">Created On</th>
      <th class="deposited">Object Type</th>
      <th class="files">Files</th>
    </tr>
  </thead>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
   <%= render_document_partial document, 'index', :counter => counter %>
  <% end %>
</table>
