<table class="hydrus-striped-table table-striped table-condensed">
	<% unless params[:display_type] == 'list' %>
  <thead>
    <tr>
      <th class="title">Title</th>
      <th class="type">Object Type</th>
      <th class="depositor">Depositor</th>
      <th class="status">Status</th>
    </tr>
  </thead>
  <% end %>
  <% docs.each_with_index do |document,counter| %>
   <%= render_document_partial document, 'index', :counter => counter %>
  <% end %>
</table>
