<tr class="document <%= cycle("even","odd") %>">

  <td><%= link_to document.main_title, document.path %></td>
  <td><%= document.object_type %></td>
  <td><%= document.depositor %></td>
  <td><font color="red">#TODO</font></td>

</tr>
