<ul class="dropdown-menu">
  <li><%= link_to("item", new_hydrus_item_path(:collection => parent.pid))%></li>
  <li class="divider"></li>
  <li class="disabled"><a href="#">article</a></li>
  <li class="disabled"><a href="#">dataset</a></li>
  <li class="disabled"><a href="#">image</a></li>
  <li class="disabled"><a href="#">paper</a></li>
  <li class="disabled"><a href="#">other</a></li>
</ul>