	<div title="Beta site" id="beta-dialog">Warning: This website is in development and any data added will be deleted.</div>
	<script>$(function() {
			$( "#beta-dialog" ).dialog({modal:true});
		});
		</script>
