<%= image_tag "test-version-ribbon.png", :title => "This website is in development and any data you add will be deleted.", :style => "position: absolute; top: 0; left: 0; border: 0;" %>

<div class="row">
  <div class="span9" id="main"><%= yield %></div>
  <div class="span3" id="sidebar"><%= sidebar_items.join('').html_safe %></div>	
</div>