<ul class="breadcrumb">
  <li><a href="/">Home</a> <span class="divider">/</span></li>
  <li><a href="#">Collection</a> <span class="divider">/</span></li>
  <li class="active">Item</li>
</ul>

<div class="row">
  <div class="span9" id="main"><%= yield %></div>
  <div class="span3" id="sidebar"><%= sidebar_items.join('').html_safe %></div>
</div>
