<div>
  <dl class="defList">

    <dt>PID: </dt>
    <dd><%= @pid %></dd>

    <dt>Title: </dt>
    <dd><%= @dcMetadata.title.first %></dd>

    <dt>Abstract: </dt>
    <dd><%= @descMetadata.abstract.first %></dd>

  </dl>
</div>
