development:
  url: FOO
  stacks:
    document_cache_storage_root: BAR
    document_cache_host: BAR
    document_cache_user: BAR
    local_workspace_root: BAR
    storage_root: BAR
    host: BAR
    user: BAR

test:
  url: FOO
  stacks:
    document_cache_storage_root: BAR
    document_cache_host: BAR
    document_cache_user: BAR
    local_workspace_root: BAR
    storage_root: BAR
    host: BAR
    user: BAR

dortest:
  url: FOO
  stacks:
    document_cache_storage_root: BAR
    document_cache_host: BAR
    document_cache_user: BAR
    local_workspace_root: BAR
    storage_root: BAR
    host: BAR
    user: BAR

production:
  url: FOO
  stacks:
    document_cache_storage_root: BAR
    document_cache_host: BAR
    document_cache_user: BAR
    local_workspace_root: BAR
    storage_root: BAR
    host: BAR
    user: BAR
