development:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://127.0.0.1:8983/fedora

test:
  user: fedoraAdmin
  password: fedoraAdmin
  url: http://127.0.0.1:8983/fedora-test

dortest:
  user: ~
  password: ~
  url: https://sul-dor-test.stanford.edu/fedora

production:
  user: ~
  password: ~
  url: https://sul-dor-prod.stanford.edu/fedora
