development:
  url: http://localhost:8983/solr/development

dortest:
  url: https://dortest/solrizer
	
test: 
  url: http://localhost:8983/solr/test

production:
  url: http://your.production.server:8080/bl_solr/core0 
