development:
  cert_file: ~
  key_file: ~
  key_pass: ~

test:
  cert_file: ~
  key_file: ~
  key_pass: ~

dortest:
  cert_file: ''
  key_file:  ''
  key_pass:  ''

production:
  cert_file: ''
  key_file:  ''
  key_pass:  ''
