development:
  url: https://sul-lyberservices-dev.stanford.edu
  user: ~
  password: ~

test:
  url: https://sul-lyberservices-test.stanford.edu
  user: ~
  password: ~

dortest:
  url: https://sul-lyberservices-test.stanford.edu
  user: ~
  password: ~

production:
  url: https://sul-lyberservices-prod.stanford.edu
  user: ~
  password: ~
