development:
  url: http://lyberservices-dev.stanford.edu/workflow/
dortest:
  url: https://sul-lyberservices-test.stanford.edu/workflow/
test: &TEST
  url: http://lyberservices-dev.stanford.edu/workflow/
cucumber:
  <<: *TEST
production:
  url: http://your.production.server:8080/workflow
