development:
  url: http://sul-lyberservices-dev.stanford.edu/workflow/

test:
  url: http://sul-lyberservices-dev.stanford.edu/workflow/

dortest:
  url: https://sul-lyberservices-test.stanford.edu/workflow/

production:
  url: https://sul-lyberservices-prod.stanford.edu/workflow/
