<div class="admin-info">
	<h3>Administrator information for app version <%= Hydrus::Application.config.app_version %></h3>

	<div>
	  <% if @all_collections.blank? %>
	    <p>No collections.</p>
	  <% else %>
	    <h4>
        <a href="#" id="show_all_collections">Show all collections (<%=@all_collections.size%>)</a>
      </h4>
	 	<div class="hidden" id="all_collections">
			<%= render :partial=>'admin_collection_dashboard',:locals=>{:collections=>@all_collections}%>
		</div>
		<% end %>
	</div>
</div>
