<div class="user-collections">

  <%- if @collections.blank? -%>
    <h3>No active collections</h3>
    <br/>

  <%- else -%>
    <h3>Your Active Collections (<%=@collections.size%>)</h3>
 	   <%= render :partial=>'collection_dashboard',:locals=>{:collections=>@collections}%>
	<% end %>
</div>

<div id="new-collections">
  <form class="form-horizontal">
    <% if can?(:create_collections, Hydrus::Collection) %>
      <%= link_to(
            "Create a new collection",
            new_polymorphic_path(Hydrus::Collection),
            :class => 'btn',
						:disable_with=>'Please wait...',
            :disable_after_click=>'true')  %>
    <% end %>
  </form>
</div>

<% if Hydrus::Authorizable.can_act_as_administrator(current_user) %>
	<%= render :partial=>'admin_info' %>
<% end %>
