<div class="hero-unit">
  <h3><%= link_to("Sign in via WebAuth", webauth_login_path) %></h3>
  <p>to access your Self-Deposit content</p>
</div>

<div class="hero-unit">
  <h3><%= link_to "Contact the SDR", "https://sdr.stanford.edu/contact?from=%2F" %></h3>
  <p>to become a depositor</p>
</div>

<div class="hero-unit">
  <h3><%= link_to "Find SDR Deposits", "http://searchworks.stanford.edu/?f%5Bcollection_type%5D%5B%5D=Digital+Collection" %></h3>
  <p>using SearchWorks</p>
</div>
