<div class="row">
  <div class="span12">
    <p>
      The growing body of content deposited in the SDR includes:
    </p>

    <ul class="sdr-content-types">
      <li><span class="content-type">scientific research data</span> like <a href="https://purl.stanford.edu/wt101ks3240">this data set</a></li>
      <li><span class="content-type">digital humanities research data</span> like <a href="https://purl.stanford.edu/rs276tc2764">this corpus</a></li>
      <li><span class="content-type">honors theses</span>, like <a href="https://purl.stanford.edu/kn730cj8320">this undergraduate work</a></li>
      <li><span class="content-type">images, audio and video</span> like <a href="https://purl.stanford.edu/hg687tp1365">this podcast</a></li>
      <li><span class="content-type">software and computer games</span> like <a href="https://purl.stanford.edu/rd383mp8260">DOOM</a></li>
      <li><span class="content-type">student projects</span>, like <a href="https://purl.stanford.edu/cf231ff4889">this final team report</a></li>
      <li><span class="content-type">technical reports</span> like <a href="https://purl.stanford.edu/mt709km1648">this publication</a></li>
      <li><span class="content-type">archival collections</span> like <a href="https://purl.stanford.edu/xf259xw8228">Project MKULTRA</a></li>
    </ul>

  </div>
</div>
