<%- @page_title = application_name -%>

<h2>Stanford Digital Repository</h2>
<p>Placeholder text for Hydrus intro. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>

<%- if current_user -%>
  <div class="user-collections">
    <h3>Your active collections</h3>
    <table class="hydrus-striped-table table-striped table-condensed">
      <thead>
        <tr>
          <th class="title">Collection</th>
          <th class="journal">Your role</th>
          <th class="deposited">Your work</th>
          <th class="files">What you can do</th>
        </tr>
      </thead>
      <tbody>
      <% @collections.each do |c| %>
        <tr>
          <td><%= link_to(c.title.first, polymorphic_path(c)) %></td>
          <td>owner</td>
          <td>11 published, 1 draft</td>
          <td>
            <form class="form-horizontal">
              <div class="btn-group">
                <a class="btn" href="#">Add new &hellip;</a>
                <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                <%= render :partial => "shared/add_content_options", :locals => {:parent => c} %>
              </div>
            </form>
          </td>
        </tr> 
        <% end %>
      </tbody>
    </table>

    <form class="form-horizontal">
      <a class="btn disabled" href="#">Create a new collection</a>
    </form>
  </div>

<%- else -%>
  <p>
    <%= hydrus_signin_link %>
    to view your collections
  </p>
<%- end -%>
