<div class="hero-unit">
  <h3><%= link_to("Sign in via WebAuth", webauth_login_path) %></h3>
  <p>to access your deposited content</p>
</div>

<%= render :partial=>'contact_sdr' %>

<div class="hero-unit">
  <h3><%= link_to "Find SDR Deposits", "http://searchworks.stanford.edu/?f%5Bcollection_type%5D%5B%5D=Digital+Collection" %></h3>
  <p>using SearchWorks</p>
</div>
