<%- @page_title = application_name -%>

<div class="row">
  <%- if current_user %>
    <div class="span12" id="dashboard">
      <%= render :partial=>'home_dashboard' %>
    </div>
  <%- else -%>
    <div class="span7" id="home_text">
      <%= render :partial=>'home_text' %>
    </div>
    <div class="span4 offset1 promotion">
      <%= render :partial=>'home_promotion_links' %>
    </div>
  <%- end -%>
</div>

<%# removed search box pending decision about if and how we will enable searching %>
<%#= render :partial=>'search_form' %>