<p class="homepage-intro">
  The SDR is a service supporting long-term management of scholarly information resources
  at Stanford. Faculty, students, and researchers use the SDR to promote and protect the
  products of their work. The benefits of this service distinguish the
  SDR from other content storage or management options on campus: deposited scholarly
  content is preserved in a robust, reliable, and secure environment and is available from
  persistent URLs (PURLs) with optional access controls.
</p>

<%= image_tag "sdr-self-deposit-diagram.png", :class => "sdr-deposit", :alt => "SDR Self-Deposit Overview Diagram" %>
