<p class="homepage-intro">
  The SDR is a service supporting long-term management of scholarly information
  resources at Stanford. Deposit in the SDR enables faculty, students,
  researchers to promote and protect the products of their work.  Librarians
  use the SDR to preserve and share scholarly collections of enduring value to
  the larger Stanford community. Through robust preservation and security
  measures, the repository maintains appropriate access to deposited content
  from persistent web links while protecting against data loss and corruption.
</p>
