<p class="homepage-intro">
  The SDR is a service supporting long-term management of scholarly information resources
  at Stanford. Faculty, students, and researchers use the SDR to promote and protect the
  products of their work. Librarians use the SDR to build digital collections in support
  of academic programs across the University. The benefits of this service distinguish the
  SDR from other content storage or management options on campus: deposited scholarly
  content is preserved in a robust, reliable, and secure environment and is available from
  persistent URLs with optional access controls.
</p>

<%= image_tag "sdr-self-deposit-diagram.png", :class => "sdr-deposit", :alt => "SDR Self-Deposit Overview Diagram" %>

<div class="row">
  <div class="span12">
    <p>
      The growing body of content deposited in the SDR includes:
    </p>

    <ul class="sdr-content-types">
      <li><span class="content-type">scientific research data</span> like <a href=” http://purl.stanford.edu/wt101ks3240”>this data set</a></li>
      <li><span class="content-type">digital humanities research data</span> like <a href=”http://purl.stanford.edu/rs276tc2764”>this corpus</a></li>
      <li><span class="content-type">honors theses</span>, like <a href=” http://purl.stanford.edu/kn730cj8320”>this undergraduate work</a></li>
      <li><span class="content-type">images, audio and video</span> like <a href=”http://purl.stanford.edu/hg687tp1365”>this podcast</a></li>
      <li><span class="content-type">software and computer games</span> like <a href=” http://purl.stanford.edu/rd383mp8260”>DOOM</a></li>
      <li><span class="content-type">student projects</span>, like <a href=”http://purl.stanford.edu/cf231ff4889”>this final team report</a></li>
      <li><span class="content-type">technical reports</span> like <a href=”http://purl.stanford.edu/mt709km1648”>this publication</a></li>
      <li><span class="content-type">archival collections</span> like <a href=” http://purl.stanford.edu/xf259xw8228”>Project MKULTRA</a></li>
    </ul>

    <div class="panel panel-default panel-home">
      <div class="panel-heading">
        <h3 class="panel-title">More Information</h3>
      </div>
      <div class="panel-body">
        <ul>
        <li>
          <span class="info-prefix">&raquo;</span>
          Find more SDR content by visiting the
          <%= link_to "Digital Collections in SearchWorks", "http://searchworks.stanford.edu/?f%5Bcollection_type%5D%5B%5D=Digital+Collection" %>
          (we are always adding more)
        </li>
        <li>
          <span class="info-prefix">&raquo;</span>
          Visit the
          <%= link_to "SDR web site", "http://library.stanford.edu/sdr" %>
        </li>
        </ul>
      </div>
    </div>

  </div>
</div>
