<div class="user-collections">
  <h3>Your collections</h3>
  <%- if @collections.blank? -%>
    <p>You have no active collections.</p>
  <%- else -%>
    <p>Your Active Collections (<%=@collections.size%>).</p>
     <%= render :partial=>'collection_dashboard',
        :locals=>{:collections=>@collections,:show_roles=>false}%>
  <% end %>
</div>

<div id="new-collections">
  <form class="form-horizontal">
    <% if can?(:create, Hydrus::Collection) %>
      <%= link_to(
            "Create a new collection",
            new_polymorphic_path(Hydrus::Collection),
            :class => 'btn',
            :disable_with=>'Please wait...',
            :disable_after_click=>'true')  %>
    <% end %>
  </form>
</div>

<% if Hydrus::Authorizable.can_act_as_administrator(current_user) %>
  <%= render :partial=>'admin_info' %>
<% end %>
