<%- @page_title = application_name -%>

<div class="row">
  <div class="span6" id="home_text"><%= render :partial=>'home_text' %></div>
  <div class="span6"><%= render :partial=>'search_form' %></div> 
</div>

<div class="row">
  <div class="span12" id="dashboard"><%= render :partial=>'home_dashboard' %></div>
</div>
