<h3>Error</h3>

<p/>

<p>Sorry, that wasn't supposed to happen. We'll look into it.</p>

<p>
  You can help if you send us an
  <%= mail_to("sdr-contact@lists.stanford.edu",
              "email",
              :subject => 'Error on SDR website') %>
  to let us know how you got here.
</p>

<% if Settings.hydrus.exception_error_panel && !@exception.blank? %>

  <a onclick="JavaScript:toggleErrors();" href="#">Full error message</a>
  <div style="display:none" id="errors">
    <br/>
    <strong><%= @exception.message %></strong><br /><br />
    <%= raw @exception.backtrace.join("<br />") %>
  </div>

<% end %>

<script language="JavaScript">
    function toggleErrors() {
      $( "#errors" ).toggle('blind');
    }
</script>
