@import "sul_chrome/sul_chrome_mixins";

@mixin druid-footer {
	border-top: 1px solid #eee;
	color: #ccc;
	font-size: 90%;
	margin-top: 20px;
	padding-top: 3px;
	text-align: right;
	// width: 100%;
}

@mixin hidden-label {
	position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* forms */
.section-header {
	background-color: #F5F5F5;
	border: 1px solid rgba(0,0,0,0.05);
	margin-bottom: 20px;
	margin-top: 30px;
	padding: 3px 0;
	> .span1 {margin-left: 5px;}
	&.first-header {margin-top: 6px;}
}
.section-header .required {
	// color: #990000;
	color: #FFF;
	margin-top: 3px;
}
.section-header .required {
	@media (max-width: 767px) {
		text-align: right; 	margin-right: 6px;
	}
}
.form-label {
	text-align: right;
	@media (max-width: 767px) {
		text-align: left;
	}
}
form.step textarea, form.step input[type=text] {
	width: 95%;
}
.short-textarea textarea {
	height: 60px;
}
form.step .people-select {
	input[type=text] {
	  width: 54%;
	}
	.delete-node {
		margin-bottom: 9px;
	}
}
form.step .related-citation {
	textarea {
	  width: 90%;	
	}
}
form.step .related-item {
	input[type=text] {
		width: 90%;
	}
	.delete-node {
		margin-bottom: 9px;
	}
}
form.step #file-upload {
	input[type=text] {
		width: 88%;
	}
	.delete-file {
		margin-bottom: 9px;
	}
}


form .help {
	margin-top: -9px;
	font-size:80%;
	color: #666666;
}

form.step .peer_reviewed label {
	display: inline;
}

form .dropdown-menu a {border-bottom: none;}
form .dropdown-menu .disabled a {color: #cccccc;}
form .dropdown-menu li.disabled:hover, form .dropdown-menu .disabled a:hover {cursor: default; background: none;}

/* forms on search results */
#sortAndPerPage {
	form, label {display:inline;}
	select {width:auto;}
	.sort {
		text-align:right;
		@media (max-width: 767px) {
			text-align:left;
		}
	}
}

/* forms in tables */
table form {
	margin-bottom: 0px;
	.btn {
		font-size: 12px;
		line-height: 14px;
		margin-bottom: 1px;
	}
}

/* search form */
#search {
	label, h2 {
		display: inline;
	}
	select#search_field {
		width: auto;
	}
	/* we need to explicitly set the bottom margin here because the hydra html refactor CSS is being included in a weird way */
	input.submit {@include primary-button; margin-bottom: 9px;}
}

#main {
	float: right;
}
#sidebar {
	float: left;
}



/* This seems to help fix an issue w/ floats once we stack all columns on-top of each other */
#main, #sidebar {
	@media (max-width: 767px) {
	  float: none;	
	}
}

/* search results */
table.hydrus-striped-table {
	@include striped-table;
	margin-top: 6px;
	width: 100%;
}

/* home page */



/* object sidebar */
#item-actions {
	display:none;
}
.actions-box {
	margin-right: 20px;
	margin-top: 25px;
	&.well {
		padding: 12px 10px 0 15px;
	}
	.box-header {
		border-bottom: 1px dotted #CCC;
		font-size: 120%;
		line-height: 1.6em;
	}
	dt, dd { 
		line-height: 2em;
		text-align: left;
		width: 50%;
	}
	dd { margin-left: 55%;}
	dl {
		font-size: 85%;
		margin-bottom: none;
	}
	button {
		margin: 12px 0px 10px 18px;
	}
	label{
		font-size: 75%;
		line-height: 1.5em;
		margin-bottom: 0;
		margin-top: 18px;
	}
	p {
		margin-top: 12px;
		&.discard-item {
			margin-bottom: 18px;
			margin-left: 12px;
			i {
				margin-right: 5px;
				margin-left: -15px;
			}
		}
	}
	.btn-group .btn {margin-bottom: 0px;}
}

#hydrus_items-edit #sidebar {
	position:fixed;
	@media (max-width: 768px) {
		position: relative;
	}
}
  /* reformat sidebar based on screen size */
.actions-box.item-status,
.actions-box.collection-settings { 
	@media (min-width: 768px) and (max-width: 978px) {
	  .dl-horizontal dt {
		  clear: both;
		  width: 100%;
		}
		.dl-horizontal dd {
		  line-height: 1.5em;
		  margin-left: 6px;
		  padding-bottom: 12px;
		  text-align: left;
		  width: 100%;
		}
	}
}
.actions-box.item-status,
.actions-box.collection-settings {
	@media (max-width: 767px) {
	  .dl-horizontal dt {
		  float: left;
		  width: 100px;
		  clear: both;
		}
		.dl-horizontal dd {
		  margin-left: 100px;
		}
	}
}
#sidebar dd.collection {
	font-size: 90%;
	margin-left:0;
}

#catalog-index .user-collections {
	h3 {margin-top: 24px;}
	table {margin-bottom: 12px;}
	// .btn-primary {@include primary-button;}
}

/* object view */
#hydrus_items-show {
	#sidebar {margin-top: 25px;}
	table.hydrus-striped-table {
		@include striped-table;
		width: 100%;
	}
	#druid-footer {@include druid-footer;}
}
.object-view {
	h3 {margin-bottom: 15px;}
	dt {
		color: #999;
		width: 158px;
		&.hidden-label {@include hidden-label;}
	}
	dd {
		margin-left: 173px;
		padding-bottom: 6px;
		@media (max-width: 768px) {
			margin-left: 0;
		}
	}
}

.collection-items {
	border-top: 1px solid #eee;
	margin: 50px 0 30px;
	padding: 10px 0;
	h4 { margin-bottom: 12px;}
}

#hydrus_collections-show {
	#druid-footer {@include druid-footer;}
}

/* drag and drop styles */
#file-dnd-text {
	margin-top: 10px;
	margin-bottom: 10px;
	color: #990000;
}

/* beta version warning elements */
#beta-dialog.modal {
	text-align: center;
	p {
		font-size: 110%;
		font-weight: bold;
	}
	.modal-header {
		background-color: #93190c;
		color: #fff;
	}
	.modal-footer {
		border: none;
		background-color: inherit;
		padding: 0 15px 20px;
		text-align: center;
	}
}
