@import "sul_chrome/sul_chrome_mixins";
/* forms */
.section-header {
	margin-bottom: 5px;
}
.section-header .required {
	color: #990000;
}
.section-header .required {
	@media (max-width: 767px) {
		text-align: right;
	}
}
.form-label {
	text-align: right;
	@media (max-width: 767px) {
		text-align: left;
	}
}
form.step textarea, form.step input[type=text] {
	width: 95%;
}
.short-textarea textarea {
	height: 60px;
}
form.step .people-select {
	input[type=text] {
	  width: 60%;
	}
}

/* forms on search results */
#sortAndPerPage {
	form, label {display:inline;}
	select {width:auto;}
	.sort {
		text-align:right;
		@media (max-width: 767px) {
			text-align:left;
		}
	}
}

/* search form */
#search {
	label, h2 {
		display: inline;
	}
	select#search_field {
		width: auto;
	}
	/* we need to explicitly set the bottom margin here because the hydra html refactor CSS is being included in a weird way */
	input.submit {@include primary-button; margin-bottom: 9px;}
}

#main {
	float: right;
}
#sidebar {
	float: left;
}



/* This seems to help fix an issue w/ floats once we stack all columns on-top of each other */
#main, #sidebar {
	@media (max-width: 767px) {
	  float: none;	
	}
}

/* search results */
table.hydrus-striped-table {
	@include striped-table;
	margin-top: 12px;
	width: 100%;
}

/* edit item */
form.actions-box {
	margin-right: 20px;
	margin-top: 25px;
	legend {
		border-bottom: 1px dotted #CCC;
		font-size: 120%;
		line-height: 1em;
		padding: 0px 0px 5px;
	}
	button {
		margin: 12px 0px 22px 18px;
	}
	label {
		font-size: 75%;
		line-height: 1.5em;
		margin-bottom: 0;
	}
	p.discard-item {
		margin-left: 12px;
		i {
			margin-right: 5px;
			margin-left: -15px;
		}
	}

}



