@import "sul_chrome/sul_chrome_mixins";
/* search form */
#search {
	label, h2 {
		display: inline;
	}
	select#search_field {
		width: auto;
	}
	input.submit {@include primary-button}
}

#main {
	float: right;
}
#sidebar {
	float: left;
}