<div class="collection-actions box-header">Actions</div> 
		<%=render :partial=>'hydrus_collections/user_roles'%>

<fieldset>
  <button type="submit" class="btn btn-small save-edits"
          name="save" id="save_<%= id %>">Save</button>
</fieldset>
