<div class="collection-actions box-header">Actions</div>

<div class="box-body">
  <fieldset>
    <button type="submit" class="btn btn-small save-edits"
            name="save" id="save_<%= id %>">Save</button>
  </fieldset>
</div>
