<div class="well actions-box" id="collection-actions">
  <fieldset>
    <legend class="box-header">Actions</legend>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save_<%= id %>">Save</button>
    <label class="checkbox">
      <input type="checkbox" disabled="disabled" name="hydrus_collection_valid" id="hydrus_collection_valid" /> Name, description, contact provided
    </label>
    <button type="submit" class="btn btn-small save-edits" name="hydrus_collection[publish]" value="<%=!@document_fedora.publish%>" id="hydrus_collection_publish"><%=collection_button_text(@document_fedora.publish)%></button>
   <!--
 		<div class="btn-group">
      <button class="btn btn-small" disabled="disabled">Add &hellip;</button>
      <button class="btn btn-small dropdown-toggle" data-toggle="dropdown" disabled="disabled">
        <span class="caret"></span>
      </button>
      <%#= render :partial => "shared/add_content_options", :locals => {:parent => @document_fedora} %>
    </div>
		-->
    <p class="discard-item"><i class="icon-trash"></i> <a href="#">Discard this <%=@document_fedora.object_type%></a></p>
  </fieldset>
</div>