<div class="collection-actions box-header">Actions</div>
<p>You are a <%=@document_fedora.roles_of_person_for_ui(current_user.to_s).join(',').downcase%> for this collection.</p>

<%= form_for(@document_fedora, :method => 'PUT', :html => {:class => "step", :novalidate=>""}) do |f| -%>
	<% if @document_fedora.is_open %>
          <button type="submit" class="btn btn-small save-edits"
                  name="hydrus_collection[publish]" value="false"
                  id="hydrus_collection_publish">Close Collection</button>
	<% elsif @document_fedora.is_publishable %>
  	<button type="submit" class="btn btn-small save-edits" name="hydrus_collection[publish]" value="true" id="hydrus_collection_publish">Open Collection</button>
	<% else %>
			<p>To open the collection, you must fix the following:
				<%
				errors = []
	      @document_fedora.errors.messages.each do |field, error|
	        errors << "<li class='errors'>#{field.to_s.humanize.capitalize} #{error.join}</li>"
	      end
				%>
				<%="<ul>#{errors.join}</ul>".html_safe%>
		  </p>
	<%
	end
end %>

<% if @document_fedora.is_open %>
   <form class="form-horizontal">
     <div class="btn-group">
       <button class="btn btn-small">Add new &hellip;</button>
       <button class="btn btn-small dropdown-toggle" data-toggle="dropdown">
         <span class="caret"></span>
       </button>
       <%= render :partial => "shared/add_content_options", :locals => {:parent => @document_fedora} %>
     </div>
   </form>
<% end %>
  <% if @document_fedora.is_destroyable %>
	<p class="discard-item"><i class="icon-trash"></i> <a href="#">Discard this collection</a></p>
  <% else %>
	<p class="muted"><i class="icon-trash"></i> Cannot discard a published collection</p>		
<% end %>