<div class="collection-actions box-header">Actions</div> 
	<p>You are a <%=@document_fedora.roles_of_person_for_ui(current_user.to_s).join(', ').downcase%> for this collection.</p>

  <fieldset>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save_<%= id %>">Save</button>
	</fieldset>