<div class="collection-actions box-header">Actions</div>

<div class="box-body">
  <fieldset>
    <button type="submit" show_loading_indicator="true" disable_with="Please wait..." class="btn btn-small save-edits"
            name="save" id="save_<%= id %>">Save</button>
  </fieldset>
</div>
