<div class="well actions-box" id="item-actions">
  <fieldset>
    <legend class="box-header">Actions</legend>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save_<%= id %>">Save</button>
    <label class="checkbox">
      <input type="checkbox" name="terms_of_deposit" class="terms_of_deposit" id="terms_<%= id %>" /> I agree to the <a href="#">terms of deposit</a> for the Stanford Digital Repository
    </label>
    <button type="submit" class="btn btn-small publish" name="hydrus_item[publish]" value="true">Publish</button>
    <p class="discard-item"><i class="icon-trash"></i> <a href="#">Discard this item</a></p>
  </fieldset>
</div>