<div class="panel-heading" id="item-actions">
  <h3 class="panel-title">Actions</h3>
</div>

<div class="panel-body">
  <%= f.submit 'Save', name: 'save',
                       show_loading_indicator: true,
                       disable_with: "Please wait...",
                       class: 'btn btn-default save-edits',
                       id: "save_#{id}" %>
</div>
