<div class="well actions-box" id="item-actions">
  <div class="box-header">Actions</div>
		<%=render :partial=>'user_roles'%>
  <fieldset>
    <button type="submit" class="btn btn-small save-edits" name="save" id="save_<%= id %>">Save</button>
  </fieldset>

</div>
