<div class="person destroy-set">
  <%= text_field_tag :"hydrus_item[person[#{index}]]", (person ? person.name : ""), :required => true %> as 
  <%= select_tag :"hydrus_item[person_role[#{index}]]", options_for_select(people_roles, (person ? person.role : "")) -%>
  <%= link_to('<i class="icon-trash"></i>'.html_safe, destory_hydrus_item_value_path(:term=>"name", :term_index=>index, :type=>"person"), :class=>"delete-node btn", :id => "remove_name_#{index}") unless index == 0 %>
</div>