 <div class="well actions-box item-status">
   <div class="box-header">Status</div>
		<% if @document_fedora.is_published %>
			<button class="pull-right btn btn-success btn-small" type="button">Published</button>
   <% else %>
			<button class="pull-right btn btn-warning btn-small" type="button">Draft</button>
	  <% end %>
	  <br /><br />
	 <% unless @document_fedora.is_published %>
		<p><%=check_box_tag 'required_fields_checkbox', true, @document_fedora.required_fields_completed?, :disabled=>true%> Required fields completed</p>
		<p><%=check_box_tag 'files_uploaded_checkbox', true, @document_fedora.files_uploaded?, :disabled=>true%> File(s) uploaded</p>
		<p><%=check_box_tag 'depositor_agreement_checkbox', true, @document_fedora.terms_of_deposit_accepted?, :disabled=>true%> Depositor agreement with Terms of Deposit</p>
		<p><%=check_box_tag 'item_opened_checkbox', true, @document_fedora.is_publishable, :disabled=>true%> Item can be published</p>
	<% end %>
 </div>