<div class="modal hide fade" id="terms-of-deposit">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3 id="myModalLabel">Stanford Digital Repository<br />Terms of Deposit</h3>
  </div>
  <div class="modal-body">
    <%= render :partial=>"terms_of_deposit_text" %>
  </div>
  <div class="modal-footer">
    <a href="/SDRSelfDepositTerms.pdf"><button class="btn">Save</button></a>
    <% if @fobj.terms_of_deposit_accepted?%>
      <button class="btn btn-primary" data-dismiss="modal" id="tod-close-button" aria-hidden="true">Close</button>
    <% else %>
      <button class="btn" data-dismiss="modal" aria-hidden="true">Return without agreeing</button>
      <button class="tod-agree btn btn-primary" data-url="<%="#{terms_of_deposit_agree_path(@pid)}&from=#{@from}"%>" data-dismiss="modal">I agree to these terms</button>
    <% end %>
  </div>
</div>

<script language="JavaScript">
$(document).ready(function(){
  $(".tod-agree").each(function(){
    $(this).click(function(){
			ajax_loading_indicator();
      $.ajax($(this).attr("data-url") + "&format=js");
    });
  });
});
</script>



