<h3>Stanford Digital Repository</h3>
<h3>Self-Service Terms of Deposit</h3>

<%= render :partial=>'terms_of_deposit_text' %>

<a href="/SDRSelfDepositTerms.pdf"><button class="btn">Save</button></a>

<% unless @fobj.terms_of_deposit_accepted?%>
  <a href="<%=terms_of_deposit_agree_path(@pid)%>"><button class="btn btn-primary">I agree to these terms</button></a>
<% end %>
